* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; 
    color: #e0e0e0; 
    line-height: 1.6;
}
/* ************* Menue ************************ */
header {
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
header .name-site {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.menue {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
nav ul li {
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    font-weight: 700;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #f3f3fa54;
}
/************** Main section *************************/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('../Images/wallpaper.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.6);
    z-index: 0;
}
.hero-content {
    position: relative;
    z-index: 1;
    max-width: 60%;
    padding: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.hero h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero p {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.bouton {
    background-color: #e50914;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.bouton:hover {
    background-color: #900;
}
/************** Footer section *************************/
footer {
    background-color: rgba(0, 0, 0, 0.6); 
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}
/************** Responsive *************************/
@media (max-width: 768px) {
    .hero h2 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .bouton {
        font-size: 1rem;
        padding: 12px 25px;
    }

    .hero-content {
        max-width: 90%;
    }
}
